<%- include("template/cabecera3", {tituloWeb: 'Página Employees' }) %>
<br>    
<center>
        <div class="container border border-dark">
            <br>
            <h1>
                <%= mensaje %>
            </h1>
        </div>
    </center>
    <%- include("template/footer") %>